<html>
<head>
<title>jQuery TE</title>

<!-- <link type="text/css" rel="stylesheet" href="demo.css"> -->
<link type="text/css" rel="stylesheet" href="/stylesheets/te.css">
<script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/te.js" charset="utf-8"></script>
</head>

<body>

<textarea name="textarea" class="jqte"></textarea>

<script>
	$('.jqte').jqte();
	
</script>

<!------------------------------------------------------------ jQUERY TEXT EDITOR ------------------------------------------------------------>

</body>
</html>